* {
  font-family: 'Shippori Antique', sans-serif;
  margin: 0;
  padding: 0; }

.body {
  background-color: #868585fd; }
  .body a {
    text-decoration: none; }
  .body a:visited {
    text-decoration: none;
    color: inherit; }

.header__div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between; }
  .header__div .header__div--img {
    width: 220px;
    height: 170px; }
  .header__div .nav {
    font-size: 24px;
    color: #000000;
    margin-bottom: 200px; }
    .header__div .nav a:visited {
      text-decoration: none;
      color: inherit; }

.section__h1 {
  font-size: 60px;
  text-decoration: underline;
  text-align: center; }

.article {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }
  .article .article__div1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start; }
    .article .article__div1 .article__div--img {
      width: 700px;
      height: 700px; }
  .article .article__div2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: 20px 200px 20px 200px; }
    .article .article__div2 .article__div2--p {
      font-size: 30px;
      color: #000000;
      text-align: center; }

.footer {
  background-color: #646464fd;
  margin-top: 150px; }
  .footer .footer__h3 {
    text-align: center;
    padding-top: 15px;
    font-weight: bold; }

.divfooter {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 50px; }
  .divfooter .divfooter__div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; }
    .divfooter .divfooter__div .divfooter__div--img {
      width: 60px;
      height: 55px; }
    .divfooter .divfooter__div .divfooter__div--p {
      font-size: 25px;
      margin-bottom: 0;
      padding-right: 10px; }

#grilla {
  display: grid;
  grid-template-areas: "header header header" "section section section" "footer footer footer"; }
  #grilla .header {
    grid-area: header; }
  #grilla .section {
    grid-area: section; }
  #grilla .footer {
    grid-area: footer; }
