// Inicio del index 

.header__div{

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    .header__div--img{
        @include tamaño (150px,120px);      
    }
    .nav{

        font-size: 24px;
        color: #000000;
        margin-bottom: 200px;
        a:visited{
            text-decoration: none;
            color: inherit;            
        }     
    
    }

}


.article{

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; 
    .article__h1{
        font-size: 60px;
        text-decoration: underline;
        text-align: center;
    }
    .article__div1{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        .article__div--img{
            @include tamaño (700px,700px);
        } 
    } 
    .article__div2{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: flex-start; 
            align-items: center; 
            text-align: center;
            padding: 20px 200px 20px 200px;      
            .article__div2--p{
                font-size: 30px;  
                color: #000000; 
                text-align:start;               
                text-indent:30px;
            }
        }
    
}

.footer{

    background-color : #646464fd;
    margin-top: 150px;
    .footer__h3{
        text-align: center;
        padding-top: 15px;
        font-weight: bold;
    }
  
}

.divfooter{

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;  
    align-items: center;     
    padding-top: 20px;
    padding-bottom: 50px;
    
        .divfooter__div{
            
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;     
            .divfooter__div--img{
                @include tamaño(60px,55px);
            }
    
            .divfooter__div--p{
                font-size: 25px;
                margin-bottom: 0;
                padding-right: 10px;
            }

        }
           

}


        



//  Inicio de grid 

#grilla{

    display: grid;
    grid-template-areas: 
    "header header header"
    "section section section"
    "footer footer footer";
    .header{
        grid-area: header;
      }
    .section{
        grid-area: section;
      }
    .footer{
        grid-area:footer;
      } 
    
}

// Fin del index 