// Inicio de presentación 


.header1__div{

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    .header1__div--img{
        @include tamaño (220px,170px);      
    }
    .nav{

        font-size: 24px;
        color: #000000;
        margin-bottom: 200px;
        a:visited{
            text-decoration: none;
            color: inherit;            
        }     
    
    }

}


.article1{

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;   
    .article1__h1{
        font-size: 60px;
        text-align: center;
        margin-bottom: 50px;
    }
    .article1__div{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-content: flex-start; 
        .article1__div--1--p{
            text-align:start;               
            text-indent:30px;
            color: #000000; 
            font-size: 25px;  
            padding: 20px 80px 20px 80px; 
            margin-bottom: 50px;                   
            }
        .article1__div--2{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 50px;
            .article1__div--img{
                @include tamaño (100px,100px);
            }
            .article1__div--img1{
                @include tamaño (125px,none);
                
            }
            .article1__div--img2{
                @include tamaño (90px,90px);
                
            }
        }

    }



}


// Fin de presentación 




